<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="camera_link" params="number">
        <link name="camera_${number}_link">
          <visual>
              <origin xyz="-0.03 0 0" rpy="0 0 0"/>
              <geometry>
                  <box size="0.06 0.15 0.15" />
              </geometry>
          </visual>
          <visual>
              <origin xyz="0.03 0 0" rpy="0 ${pi/2} 0"/>
              <geometry>
                  <cylinder length="0.06" radius="0.04" />
              </geometry>
          </visual>
        </link>
        <xacro:inertial_box mass="0.1" x="0.12" y="0.15" z="0.15"/>
    </xacro:macro>

    <xacro:macro name="camera_joint" params="number x y z r p yw">
        <joint name="camera_${number}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${yw}"/>
            <parent link="base_link"/>
            <child link="camera_${number}_link"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="camera_gazebo" params="number">
        <gazebo reference="camera_${number}_link">
            <sensor name="camera_${number}" type="camera">
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>30</update_rate>
                <camera name="intel_realsense_r200">
                  <horizontal_fov>1.02974</horizontal_fov>
                  <image>
                    <width>1920</width>
                    <height>1080</height>
                    <format>R8G8B8</format>
                  </image>
                  <clip>
                    <near>0.02</near>
                    <far>300</far>
                  </clip>
                  <noise>
                    <type>gaussian</type>
                    <!-- Noise is sampled independently per pixel on each frame.
                          That pixel's noise value is added to each of its color
                          channels, which at that point lie in the range [0,1]. -->
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                  </noise>
                </camera>
                  <plugin name="camera_driver_${number}" filename="libgazebo_ros_camera.so">
                    <!-- camera_name>omit so it defaults to sensor name</camera_name-->
                    <!-- frame_name>omit so it defaults to link name</frameName-->
                    <!-- <hack_baseline>0.07</hack_baseline> -->
                  </plugin>
              </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="camera" params="number x y z r p yw">
        <xacro:camera_link number="${number}"/>
        <xacro:camera_joint number="${number}" x="${x}" y="${y}" z="${z}" r="${r}" p="${p}" yw="${yw}"/>
        <xacro:camera_gazebo number="${number}"/>
    </xacro:macro>

</robot>