<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="camera_link" params="number">
        <link name="camera_${number}_link">
          <visual>
              <origin xyz="-0.03 0 0" rpy="0 0 0"/>
              <geometry>
                  <box size="0.06 0.15 0.15" />
              </geometry>
          </visual>
          <visual>
              <origin xyz="0.03 0 0" rpy="0 ${pi/2} 0"/>
              <geometry>
                  <cylinder length="0.06" radius="0.04" />
              </geometry>
          </visual>
        </link>
        <xacro:inertial_box mass="0.1" x="0.12" y="0.15" z="0.15"/>
    </xacro:macro>

    <xacro:macro name="camera_joint" params="number x y z r p w">
        <joint name="camera_${number}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${w}"/>
            <parent link="base_link"/>
            <child link="camera_${number}_link"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="camera_gazebo" params="number width height k1 k2 k3 p1 p2 horizental_fov aspect_ratio">
        <gazebo reference="camera_${number}_link">
            <sensor name="camera_${number}" type="camera">
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>0</update_rate>
                <camera name="intel_realsense_r200">
                  <horizontal_fov>${horizental_fov}</horizontal_fov>
                  <aspect_ratio>${aspect_ratio}</aspect_ratio>
                  <image>
                    <width>${width}</width>
                    <height>${height}</height>
                    <format>R8G8B8</format>
                  </image>
<!--
                  <clip>
                    <near>0.02</near>
                    <far>300</far>
                  </clip>
                  <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                  </noise>
-->
                    <distortion>
                        <k1>${k1}</k1>
                        <k2>${k2}</k2>
                        <k3>${k3}</k3>
                        <p1>${p1}</p1>
                        <p2>${p2}</p2>
                    </distortion>

                </camera>
                  <plugin name="camera_driver_${number}" filename="libgazebo_ros_camera.so">
                  </plugin>
              </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="camera" params="number x y z r p w width height k1 k2 k3 p1 p2 horizental_fov aspect_ratio">
        <xacro:camera_link number="${number}"/>
        <xacro:camera_joint number="${number}" x="${x}" y="${y}" z="${z}" r="${r}" p="${p}" w="${w}"/>
        <xacro:camera_gazebo number="${number}" width="${width}" height="${height}" k1="${k1}" k2="${k2}" k3="${k3}" p1="${p1}" p2="${p2}" horizental_fov="${horizental_fov}" aspect_ratio="${aspect_ratio}"  />
    </xacro:macro>

</robot>