<?xml version="1.0"?>

<robot name="infobot_infobot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="properties.xacro" />
    <xacro:include filename="materials.xacro" />
    <xacro:include filename="macros.xacro" />
    <xacro:include filename="links.xacro" />
    <xacro:include filename="joints.xacro" />
    <xacro:include filename="sensors.xacro" />
    <xacro:include filename="infobot.gazebo.xacro"/>
</robot>