<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="inertial_cylinder" params="m h r">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${(1/12)*m*(3*r*r+h*h)}" ixy="0.0" ixz="0.0" iyy="${(1/12)*m*(3*r*r+h*h)}"
                iyz="0.0" izz="${(1/2)*m*r*r}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_box" params="m w h d">
        <inertial>
            <mass value="${m}" />
            <inertia iyy="${(1/12)*m*(h*h+d*d)}" ixy="0.0" ixz="0.0" izz="${(1/12)*m*(w*w+d*d)}"
                iyz="0.0" ixx="${(1/12)*m*(w*w+h*h)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_sphere" params="m h r">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${(1/12)*m*r*r}" ixy="0.0" ixz="0.0" iyy="${(1/12)*m*r*r}"
                iyz="0.0" izz="${(1/12)*m*r*r}" />
        </inertial>
    </xacro:macro>
</robot>