<?xml version="1.0" ?>
<model>
    <name>Jackal meshes and materials</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Christoffer Johanesson (christoffer@dynorobotics.se) </name>
    </author>
    <description>The Clearpath Jackal Robot code is forked by Dyno Robotics from Clearpaths [jackal](https://github.com/jackal/jackal) Github. Branch foxy-devel is ported to dyno_humble https://github.com/DynoRobotics/jackal</description>
</model>
