<?xml version="1.0" ?>
<model>
    <name>factory</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Anders Bäckelie</name>
        <email>andbac@infotiv.se</email>
    </author>
    <description>A warehouse for use in early SMILE IV simulations.</description>
</model>
